    .column,

.columns {
	padding: 5px;
	display: inline-block;
}

.row {
}

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
	font-weight: 200;
	font-size: 20px;
}

body p {
  font-family: Helvetica, Arial, sans-serif !important;
}

body h1 {
  font-size: 1.75em;
  text-align: center;
  color: #A5001B;
  font-family: Helvetica;
  font-weight: 900;
  padding-top: 10px;
}

body h2 {
  font-size: 1em;
  color: #D40127;
  font-family: Helvetica;
  font-weight: 900;
}

body h1 img {
  vertical-align: middle;
}

/* Anchor Links */
#what{
  padding-top: 50px;
  margin-bottom: 4em;
}

#how {
  padding-top: 20px;
}

.row1{
  padding-top: 120px;
}

.row2{
  padding-top: 10px;
}

/* Hide Mobile Navigation */
.mobile-nav {
  display: none;
}

/* Sticky Nav CSS */
.top-bar {
  background: #A5001B;
}
.top-bar li {
  padding: 10px;
  float: left;
  text-align: center;
  font-weight: 900;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}

.top-bar ul {
  position: absolute;
  left: 13%;
  list-style: none;
  }

.top-bar a{
  color: #FFF;
  text-align: center;
  font-weight: 900;
  list-style-type: none;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}

body .sticky {
  color: #FFF;
  
}

body .fixed {
  opacity: 0.95;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110px;
  background-image: url(../img/title-the-champagne-of-beers.png);
  
}


/* Parallax CSS */

.parallax-background {
	height: 400px;
  background: url("../img/highlife_card.jpg");
  background-image: url(../img/highlife_card.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;
}

.intro-text {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 15%;
}
.parallax-content {
	max-width: 100%;
	position: relative;
	top: 400px;
	font-size: 20px;
  color: #FFF;
	background-color: #000;
}


.box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  display: block;
  margin-top: 60px; }

.box-icon {
  background-color: #A5001B;
  border-radius: 35%;
  display: table;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  margin-top: -61px;
  font-size: 3rem; 
  background-image:  url(../img/graphic-mhl-logo.png);
  background-size: cover;
  background-position: 0px -26px

}
  .box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle; }

.info h4 {
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase; 
  color: #fff;
}
.info p {
  color: #FFF;
  font-size: 16px;
  padding-top: 10px; }
.info a {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s ease 0s; }
  .info a:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.5s ease 0s; }

              

.container {
  background: url("http://foundation.zurb.com/assets/img/support/goodies/wallpaper-6(2880x1800).jpg") no-repeat left bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 200px;
}


/* Video Modal CSS */
#videoModal {
  padding: 15px 50px 0 50px;
  width: 100%;
  background: #125069;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
}
#videoModal .close-reveal-modal {
  color: #fff;
}

.play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  display: block;
}
.play-button .play {e
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
}
.play-button .play span {
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 40px solid #fff;
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block;
}
.play-button:hover .play {
  border: 5px solid #41637C;
}
.play-button:hover .play span {
  border-left: 40px solid #41637C;
}

@media (min-width: 1200px) {


}



@media (max-width: 767px) {

/* Hiding Desktop Nav */
.top-bar{
  display: none;
}
.mobile-nav {
  z-index: 1000;
  display: initial;
}
.e {
  display: none;
}

#desktop-header {
  display: none;
}
  .parallax-content {
  padding: 50px;
}
.parallax-background {
  display: none;
  height: 130px;
  top: -50px;
  background: url("../img/highlife_card.jpg");
  background-image: url(../img/highlife_card.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
}
.parallax-content {
  max-width: 100%;
  position: relative;
  top: 0px;
  font-size: 20px;
  color: #FFF;
  background-color: #000;
}

body .fixed {
  background-image: none;  
}

}

.box-icon {

}

